[submodule ".registry"]
	path = .registry
	url = https://github.com/wheretrue/wheretrue.r-universe.dev
	branch = HEAD
[submodule "exonr"]
	path = exonr
	url = https://github.com/wheretrue/exon
	subdir = exon-r/exonr
